/_build
/cover
/deps
/doc
/.fetch
.env
.env.*
!.env.example
/.beamcore/policy.json
!/.beamcore/policy.example.json
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/errors.DS_Store
.DS_Store
/tmp
